.header {

}
.header__back {
    background-image: url('../../images/button-back.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 17px;
    border: none;
}