.react-multiple-carousel__arrow {
background-color: transparent !important;
}
.react-multiple-carousel__arrow--right::before {
    content: "" !important;
}
.react-multi-carousel-list {
    height: 150px !important;

}
.slider {
    height: 100%;
}