.react-multiple-carousel__arrow {
background-color: transparent !important;
}
.react-multiple-carousel__arrow--right::before {
    content: "" !important;
}
.react-multi-carousel-list {
    height: 150px !important;

}
.react-multiple-carousel__item {
    width: 160px !important;
}
.slider {
    height: 100%;
}